<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a  routerLink="/">
            <img src="https://media.licdn.com/dms/image/D4D03AQFbMZLS_045ZA/profile-displayphoto-shrink_200_200/0/1694182900493?e=1710979200&v=beta&t=hIG_4otvQO2Y6SwZIcnRd6sBKMLEasUoancm_wJgQHI" alt="logo" class="logo">
        </a>
    </span>
    <span class="title-group">
        <a  routerLink="/">
            <i class="material-icons">theaters</i>
            <h1 class="title">
                Films Marketplace
            </h1>
        </a>
    </span>
</mat-toolbar>